body {
    background-color: #76c1d4;
}


#profile_pic {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    position: fixed;
}

#glimpse {
    margin: 0, auto;
    position: relative;
}
table {
    border: 1px, solid, black;
}